# Entorno virtual
.venv/
venv/
.env

# Data cruda (se descarga de la TLC, ver README)
data/yellow_tripdata_*.parquet

# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Sistema / editor
.DS_Store
Thumbs.db
.vscode/